# Ignore version control files:
.git/
.gitignore
.gitrepo

# Ignore Github templates:
.github/

# Ignore hidden config folder:
.codeclimate.yml
.config

# Ignore docker and environment files:
Dockerfile
docker-compose.yml
.dockerignore

# Ignore all dotenv files - we don't want any secret pushed inside a production image:
**/*.env

# Ignore log files:
log/*.log

# Ignore OS artifacts:
**/.DS_Store

# Ignore bash / IRB / Byebug history files
.*_hist*

# Ignore temp files - we'll allow dist files as they are needed for the production build:
tmp

# Ignore previous app builds:
dist/

# dependencies
node_modules
bower_components

.bowerrc
.editorconfig
.ember-cli
.jshintrc
.travis.yml
.watchmanconfig
PROXY.md

# misc
.sass-cache
connect.lock
coverage/*
libpeerconnection.log
npm-debug.log
testem.log

# HOME folder artifacts:
.config
.local
.npm
.pki


bin/dev-entrypoint
